/* header start */
header {
  background: $primaryColor;
  width: 100%;
  @media #{$mobile} {
    position: relative;
  }
  .inner_header {
    .logo {
      a {
        font-size: 34px;
        color: $black;
      }
    }
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav {
      ul {
        display: flex;
        gap: 15px;
        align-items: center;
        a {
          color: $black;
          font-size: 20px;
        }
      }

      @media #{$mobile} {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        padding: 15px 0;
        ul {
          display: block;
          li {
            background: #3984a5;
            margin: 5px 0;
            padding: 5px;
            a {
              color: white;
            }
          }
        }
        transition: transform 0.5s ease-in;
        transform: scaleY(0);
        transform-origin: top;
      }
    }

    .toggler {
      span i {
        font-size: 40px;
        cursor: pointer;
      }
      display: none;
      @media #{$mobile} {
        display: block;
      }
    }
  }
}

.show {
  transform: scaleY(1) !important;
}

/* header end */
